body{
    font-family: 'Crete Round', serif;
    margin: 0 auto;
    background-color: rgba(22, 235, 235, 0.911);
}
h1{
    font-size: 50px;
    color: blueviolet;
    
}
p{
    color: grey;
}
.orange-highlight{
    color: #ff00a2;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 80%;
    
}
.top-banner{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50px;
}
section{
    height: 500px;
    padding-bottom:40px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, DarkOrange, orange);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.tasks{
    text-align: center;
    font-size: 40px;
    color: rgb(58, 139, 139);
}
.client{
    text-align: center;
}
.message{
    text-align: center;
    box-shadow: 10px 10px 20px lightsalmon ;
    border-radius: 20px;
    height: 30%;
    max-width: 500px;
    margin-left: 31%;
    background-color: rgb(218, 199, 165);
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 30%;
    padding: 5px;
    margin-left: 25px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

